@model IEnumerable<Admin.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<style>
    .img-preview {
        width: 100px;
        height: 100px;
    }
</style>
<link rel="stylesheet" href="~/css/site.css" />

<body>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable for Images</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <p>
                <a class="btn btn-success" asp-action="Create">Upload Image</a>
            </p>
            <thead>
            <tr>
                <th>
                    Preview
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Page)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section)
                </th>

                <th>
                    Parent Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedAt)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="img-preview"
                             src="http://localhost:5080/api/image/@Html.DisplayFor(modelItem => item.FileName)"
                             alt="@Html.DisplayFor(modelItem => item.FileName)"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Page)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @if (item.ParentId != null)
                        {
                            @Html.DisplayFor(modelItem => item.ParentId)
                        } else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedAt)
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <span class="hyperlink" id="delete" data-value="@item.Id">Delete</span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>

<!-- Approval Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this image?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="yes" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script type="text/javascript">
        var id = $('#delete').data('value');
        $(document).ready(function () {
            $('#delete').click(function () {
               
                $('#exampleModal').modal('show');
                $('#yes').click(function () {
                    $.ajax({
                        type: 'DELETE',
                        url: `http://localhost:5080/api/image/${id}`,
                        success: function (data) {
                            alert("Image deleted successfully");
                            location.reload();
                        },
                        error: function (data) {
                            alert("Error deleting image");
                        }
                    });
                });
            });
        });
        
        
    </script>
}
```