@model Admin.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h2 class="card-title">Detail </h2><br>
        </div>
        <div class="card-body">
            <div>
                <h4>Student</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MotherName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Dob)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Dob)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ResidentialAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ResidentialAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PermanentAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PermanentAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AdmissionYear)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AdmissionYear)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AdmissionStream)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AdmissionStream)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StudentCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StudentCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreviousEducationId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreviousEducationId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastModifiedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastModifiedAt)
                    </dd>

                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

