@model IEnumerable<Admin.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable for Students</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <p>
                <a class="btn btn-success" asp-action="Create">Create New</a>
            </p>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                        Father Name
                    </th>
            <th>
                        Mother Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                        Residential Address
            </th>
            <th>
                        Permanent Address
            </th>
            @* <th>
                        Admission Year
            </th>
            <th>
                        Admission Stream
            </th> *@
            <th>
                        Student Code
            </th>
           
            <th>
                        Status
            </th>
            <th>
                        Created At
            </th>

            <th>
                        Last Modified At
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddress)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.AdmissionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionStream)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.StudentCode)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedAt)
            </td>

            <td>
              <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pen"></i>Edit</a> |
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa fa-eye"></i>Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
